// Arquivo de definição de tema para o Angular Material 17
@use '@angular/material' as mat;
@use 'sass:map';

// Define custom palettes
$raisin-palette: (
  50: #f0eff1,
  100: #d4d1d9,
  200: #aaa4b3,
  300: #7f768d,
  400: #565060,
  500: #2d2a32,
  600: #24222a,
  700: #1b191e,
  800: #121114,
  900: #09080a,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$citrine-palette: (
  50: #f8f8d5,
  100: #f1f0ab,
  200: #eae981,
  300: #e4e157,
  400: #ddd92a,
  500: #b6b41e,
  600: #898716,
  700: #5b5a0f,
  800: #2e2d07,
  900: #0e0e02,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$maize-palette: (
  50: #fbf9dd,
  100: #f6f2ba,
  200: #f2ec98,
  300: #eee675,
  400: #eae151,
  500: #e1d41c,
  600: #a99f15,
  700: #716a0e,
  800: #383507,
  900: #121101,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

// Configuração de tipografia personalizada para DM Sans
$custom-typography: mat.define-typography-config(
  $font-family: '"DM Sans", sans-serif',
  $headline-1: mat.define-typography-level(96px, 96px, 300, $letter-spacing: -0.015em),
  $headline-2: mat.define-typography-level(60px, 60px, 300, $letter-spacing: -0.005em),
  $headline-3: mat.define-typography-level(48px, 50px, 400),
  $headline-4: mat.define-typography-level(34px, 40px, 400),
  $headline-5: mat.define-typography-level(24px, 32px, 400),
  $headline-6: mat.define-typography-level(20px, 28px, 500),
  $subtitle-1: mat.define-typography-level(16px, 24px, 400),
  $subtitle-2: mat.define-typography-level(14px, 22px, 500),
  $body-1: mat.define-typography-level(16px, 24px, 400),
  $body-2: mat.define-typography-level(14px, 20px, 400),
  $caption: mat.define-typography-level(12px, 20px, 400),
  $button: mat.define-typography-level(14px, 14px, 500),
  $overline: mat.define-typography-level(10px, 16px, 400, $letter-spacing: 0.15em)
);

// Define the palettes for your theme using the Material Design palettes
$primary: mat.define-palette($raisin-palette);
$accent: mat.define-palette($citrine-palette);
$warn: mat.define-palette($maize-palette);

// Store theme object as a variable to be exported
$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  typography: $custom-typography,
  density: 0,
));

// Exportando os nomes das cores e seus valores hexadecimais para referência
$theme-colors: (
  raisin: #2d2a32,
  citrine: #ddd92a,
  maize: #eae151,
  vanilla: #eeefa8,
  babypowder: #fafdf6,
);

// Função para acessar as cores do tema
@function get-theme-color($color-name) {
  @return map.get($theme-colors, $color-name);
} 